[logging]
log_file = ipinfo.log
log_path = /data/logs/ipinfo
log_level = debug
log_when = D
log_rotating_interval = 1
log_backupCount = 7
log_queuelen = 1000


[db]
host = 
port = 
user = 
passwd = 
dbname = 

